<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
      <p><a href="{{'/about/' | prepend: site.baseurl }}">My name is Weitao Wang, I am currently a 5th-year PhD student at Rice Univ. Please check more information about me at this page</a>.</p> 
      <!-- <p>{{site.sidebar-about-description}}</p> -->
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>