<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
      <p>My name is Weitao Wang, I am a third-year PhD student at Rice Univ. Please check more information about me at <a href="{{'/about/' | prepend: site.baseurl }}">this page</a>.</p> 
      <!-- <p>{{site.sidebar-about-description}}</p> -->
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>